*:focus {
  outline: 2px dashed #00b1eb!important;
}
.m-tile__anchor {
  transition: border 0.3s;
}
.m-tile__anchor:focus {
  box-shadow: inset 0px 0px 3px 3px #00b1eb!important;
}
.m-tile__anchor:focus > img {
  opacity: 0.5!important;
}
.visually-hidden:not(:focus) {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip; rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: transparent;
}
